Repository semantic-release/semantic-release, pull requests merged in 2018-09, with the labels that each got.

#921 docs: clarify the URL encoding of `GIT_CREDENTIALS`
  docs/usage/ci-configuration.md
Labels: core, docs, in progress

#925 docs: `analyzeCommits` does not accept an `Array`
  docs/usage/configuration.md
Labels: docs

#926 fix: support multiple generate-notes plugin in CLI arg
  cli.js
  test/cli.test.js
Labels: bug, core, in progress

#935 docs: add semantic-release-gerrit to plugins list
  docs/extending/plugins-list.md
Labels: docs
